@font-face {
    font-family: My font;
    src: url(fonts/Butler/Butler_Black.otf);
}
body {
    font-family: My font !important;
    padding: 0;
    margin: 0; 
}
.links>ul>li>a{
    color: brown !important;
    font-size: 23px !important;
    text-align: center !important;
}
.links>ul>li>a:hover{
    font-size: 25px !important;
}
.slider{
    width: 100% !important;
    height: 90% !important;
}
.slider>img{
    width: 100% !important;
    height: 70% !important;
}
footer{
    background: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}